
.lost-image img {
  max-width: 100%;
  height: auto;
}

.lost-image {
  max-width: 300px;
  max-height: 400px;
  overflow: hidden;
  margin: 0 auto; /* 이미지를 가운데 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  position: relative;
}

.edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  /* 추가적인 스타일을 여기에 추가하세요d */
}

