.button-group {
    display: flex;
}

.btn {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #ffffff;
    color: #333;
}

.btn:hover {
    background-color: #ecc6c6;
}

.btn:focus {
    outline: none;
}

.btn.active {
    border-color: #007bff;
    background-color: #007bff;
    color: #fff;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}