.detail-wrapper {
    height:200px;
    width:100%;
    background-color: rgb(242, 240, 235);
    font-size: 14px;
    padding-top: 1em;
}

.table-rate{
    text-align: center;
    align-items: center;
}