/* title head */
.title.title-head {
    border-top: 2px solid #2D3436;
    border-bottom: 1px solid #2D3436;
}
/* title head 텍스트*/
.title-head-text {
    margin: 20px 0;
    font-size: 46px;
    font-weight: bold;
    text-align: left;
}

/* 내용 헤드*/
.content-head {
    margin: 20px;
    padding : 20px; 
}
.content-head-text {
    font-size: 32px;
    text-align: left;
}

.content-body {
    margin: 20px 0px;
    padding : 20px 0px; 
}
.content-body-text {
	font-size: 20px;
}

/*안내문을 위한 스타일*/
/* 헤더 스타일 */
.content-head {
    margin-top: 40px; /* 상단 여백 추가 */
    font-size: 24px; /* 헤더 폰트 크기 설정 */
    font-weight: bold; /* 헤더 폰트 두껍게 설정 */
    margin-bottom: 10px; /* 헤더 하단 여백 추가 */
}

/* 본문 텍스트 스타일 */
.body-text {
    font-size: 16px; /* 내용 폰트 크기 설정 */
    line-height: 2; /* 내용 텍스트 줄간격 설정 */
    color: #333333; /* 내용 텍스트 색상을 검정에 가까운 회색으로 설정 */
}